<h1>Nieuw Toernooi:</h1>

<% if @toernooi.errors.any? %>
  <div style="border: 1px solid black">
    <h2><%= pluralize(@toernooi.errors.count, "error") %> zijn gevonden:</h2>
 
    <ul>
    <% @toernooi.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(controller: "toernooi", action: "create", method: "post") do %>
  Toernooinaam: <%= text_field(:toernooi, :naam) %>
  <br />
  Wedstrijdleider: <%= text_field(:toernooi, :wedstrijdleider) %>
  <br />
  Datum: <%= date_field(:toernooi, :datum) %>
  <br />
  <%= submit_tag("Maak nieuw toernooi") %>
<% end %>