<h1>Alle Deelnemers:</h1>
<hr />

<% @deelnemers.each do |deelnemer| %>
  <% next if deelnemer.id == 1 %>
  <b>Naam: </b><%= deelnemer.naam %>
  <br />
  <b>Geboortedatum: </b><%= deelnemer.geboortedatum.strftime("%d-%m-%Y") %>
  <br />
  <b>E-mail: </b><%= deelnemer.email %>
  <br />
  <%= link_to "Laat zien", deelnemer %>
  <hr />
<% end %>

<br /><br />
<%= link_to "Voeg deelnemer toe", new_deelnemer_path %>