<div class="groep">
  <div class="rTable">
    <div class="rTableHeading">
      <div class="rTableRow">
        <div class="rTableCell">Groep nummer</div>
        <div class="rTableCell">Witspeler</div>
        <div class="rTableCell">Zwartspeler</div>
        <div class="rTableCell">Resultaat</div>
        <div class="rTableCell"> </div>
    </div>
  </div>
  <div class="rTableBody">
    <div class="rTableRow">
      <div class="rTableCell">Ronde <%= r+1 %></div>
    </div>
    <% @indelings[groep.nummer][r].each_index do |i| %>
      <div class="rTableRow">
        <div class="rTableCell"> </div>
        <% witspeler = Deelnemer.find(@indelings[groep.nummer][r][i][0]) %>
        <% zwartspeler = Deelnemer.find(@indelings[groep.nummer][r][i][1]) %>
        <div class="rTableCell"><%= witspeler.naam %></div>
        <div class="rTableCell"><%= zwartspeler.naam %></div>
        <%= form_tag( {action: "invoeren", controller: "indelen", method:"post"}, {} ) do %>
          <%= hidden_field_tag(:witspeler_id, witspeler.id ) %> 
          <%= hidden_field_tag(:zwartspeler_id, zwartspeler.id) %>
          <%= hidden_field_tag(:groep_id, groep.id) %>
          <%= hidden_field_tag(:ronde, (r+1)) %>
          <% j=nil %>
          <% until !j.nil? && ( @partij.nil? || (@partij.groep && @partij.groep.toernooi_id == @toernooi.id)) do %>
            <% j||=0 %>
            <% @partij = Partij.where(witspeler_id: witspeler.id, zwartspeler_id: zwartspeler.id)[j] %>
            <% j+=1 %>
          <% end %>
          <div class="rTableCell"><%= text_field_tag(:resultaat, @partij.nil? ? nil : @partij.uitslag, {size: 7, onchange:"changed_games.push('#{witspeler.id}vs#{zwartspeler.id}');"}) %></div>
          <div class="rTableCell"><%= submit_tag "Invoeren", {:id => "#{witspeler.id}vs#{zwartspeler.id}", :onclick => "setTimeout(function(){document.getElementById('#{witspeler.id}vs#{zwartspeler.id}').disabled = false }, 1000)"} %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
