<div id="wrap">
  <div id="header">
    <h1><%= @toernooi.naam %></h1>
    <%= link_to "Terug naar Toernooi Info", @toernooi %>
    <br /><br />
    <!-- <u>Maak een automatische indeling (Work In Progress)</u>
    <br /><br />-->
    <%= link_to "Invoeren resultaten", url_for(controller: "indelen", action: "score") %>
    <br /><br/ >
    <%= link_to "Indeling uitprinten", "/indelen/#{@toernooi.id}/print" %>
    <br /><br />
    <%= link_to "Uitslagen", url_for(controller: "indelen", action: "uitslag") %>
    <br /><br />
  </div>
  <hr />
  <div id="main">
    <div class="dzg">
      <% groep = @groeps.first %>
      <b><%= groep.nummer.nil? || groep.nummer.zero? ? "Deelnemers zonder groep" : "Groep #{groep.nummer}" %></b>
      (Aantal: <i><%= groep.deelnemers.count %></i>)
      <br />
      <% dlnmers = groep.deelnemers %>
      <% dlnmers = dlnmers.sort_by{ |deelnemer| deelnemer.effrating }.reverse %>
      <% dlnmers.each do |deelnemer| %>
        <%= link_to deelnemer.naam, deelnemer %> (rating: <%= deelnemer.effrating %> )
        <%= form_tag do %>
          <%= hidden_field_tag(:deelnemerid, deelnemer.id ) %>
          <%= number_field_tag(:nummer, :min => 0, :max => 99 ) %>
          <%= submit_tag "Plaats" %>
        <% end %>
      <% end %>
      <% if groep.deelnemers.all.empty? %>
        Geen deelnemers.
      <% end %>
    </div>
    <div class="lefta">
      <% gr = 0 %>
      <% @groeps.each do |groep| %>
        <% gr+=1 %>
        <% next if gr.odd? || groep.nummer.zero? %>
        <br /><br />
        <b><%= groep.nummer.nil? || groep.nummer.zero? ? "Deelnemers zonder groep" : "Groep #{groep.nummer}" %></b>,
        (Aantal: <%= groep.deelnemers.count %>)
        <br />
        <% groep.deelnemers.each do |deelnemer| %>
          <%= link_to deelnemer.naam, deelnemer %> (rating: <%= deelnemer.effrating %> )
          <%= form_tag do %>
            <%= hidden_field_tag(:deelnemerid, deelnemer.id ) %>
            <%= number_field_tag(:nummer, :min => 0, :max => 99 ) %>
            <%= submit_tag "Plaats" %>
          <% end %>
        <% end %>
        <% if groep.deelnemers.all.empty? %>
          Geen deelnemers.
        <% end %>
      <% end %>
    </div>
    <div class="righta">
      <% gr = 0 %>
      <% @groeps.each do |groep| %>
        <% gr+=1 %>
        <% next if gr.even? || groep.nummer.zero? %>
        <br /><br />
        <b><%= groep.nummer.nil? || groep.nummer.zero? ? "Deelnemers zonder groep" : "Groep #{groep.nummer}" %></b>,
        (Aantal: <%= groep.deelnemers.count %>)
        <br />
        <% groep.deelnemers.each do |deelnemer| %>
          <%= link_to deelnemer.naam, deelnemer %> (rating: <%= deelnemer.effrating %> )
          <%= form_tag do %>
            <%= hidden_field_tag(:deelnemerid, deelnemer.id ) %>
            <%= number_field_tag(:nummer, :min => 0, :max => 99 ) %>
            <%= submit_tag "Plaats" %>
          <% end %>
        <% end %>
        <% if groep.deelnemers.all.empty? %>
          Geen deelnemers.
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="footer"></div>
</div>
