<h1>Alle Toernooien:</h1>
<hr />
<% @toernoois.each do |toernooi| %>
  <h2><%= toernooi.naam %></h2>
  <b>Wedstrijdleider:</b> <%= toernooi.wedstrijdleider %> <br />
  <b>Datum:</b> <%= toernooi.datum.strftime("%d-%m-%Y") %> <br />
  <%= link_to "Laat zien", toernooi %>
  <hr />
<% end %>
<br /><br />
<%= link_to "Maak een Nieuw Toernooi", new_toernooi_path %>