<section>
  <h1>Alle Toernooien</h1>

  <table>
    <thead>
      <tr>
        <th>Naam</th>
        <th>Wedstrijdleider</th>
        <th>Datum</th>
        <th />
      </tr>

      <tbody>
        <% @toernoois.each do |toernooi| %>
          <tr>
            <td><%= link_to toernooi.naam, toernooi %></td>
            <td><%= toernooi.wedstrijdleider %></td>
            <td><%= toernooi.datum.strftime("%d-%m-%Y") %></td>
            <td><%= link_to "Laat zien", toernooi %></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>

  <br />

  <%= link_to "Maak een Nieuw Toernooi", new_toernooi_path %>
</section>
