<section>
  <h1><%= @toernooi.naam %></h1>
  <p>
    <b>Wedstrijdleider:</b> <%= @toernooi.wedstrijdleider %> </br>
    <b>Datum:</b> <%= @toernooi.datum.strftime("%d-%m-%Y") %>
  <p>

  <p>
    <%= link_to "Deel dit toernooi in", "/indelen/#{@toernooi.id}" %> </br>
    <%= link_to "Schrijf je in voor dit toernooi", action: "new", controller:"inschrijven" %> </br>
    <%= link_to "Verwijder dit toernooi", @toernooi, method: :delete, data: {confirm: "Weet je het zeker? Alle gegevens zijn weg, en iedereen zal zich opnieuw moeten inschrijven."} %>
  </p>

  <article>
    <h2>Deelnemers (Aantal: <%= @toernooi.deelnemers.length %>)</h2>

    <table>
      <thead>
        <th>Naam</th>
        <th>Geboortedatum</th>
        <th>E-mail</th>
        <th>Telefoonnummer</th>
        <th>Rating</th>
        <th>KNSB nummer</th>
        <th></th>
      </thead>
      <tbody>
        <% @toernooi.deelnemers.each do |deelnemer| %>
          <tr>
            <td> <%= link_to deelnemer.naam, deelnemer %> </td>
            <td> <%= deelnemer.geboortedatum.strftime("%d-%m-%Y") %> </td>
            <td> <%= deelnemer.email||"" %> </td>
            <td> <%= deelnemer.telefoonnummer %> </td>
            <td> <%= deelnemer.rating||"" %> </td>
            <td> <%= deelnemer.knsbnummer||"" %> </td>
            <td> <%= link_to "Schrijf deze deelnemer uit", action:"destroy", controller:"inschrijven", toernooi_id: @toernooi.id,deelnemer_id: deelnemer.id %> </td>
          </tr>
        <% end %>
      <tbody/>
    </table>
  </article>
</section>
