<h2><%= @toernooi.naam %></h2>
<b>Wedstrijdleider:</b> <%= @toernooi.wedstrijdleider %> <br />
<b>Datum:</b> <%= @toernooi.datum.strftime("%d-%m-%Y") %> <br />

<br /><br />

<%= link_to "Alle Toernooien", toernoois_path %>

<br /><br />

<%= link_to "Deel dit toernooi in", "/indelen/#{@toernooi.id}" %>

<br /><br />

<%= link_to "Schrijf je in voor dit toernooi", action: "new", controller:"inschrijven" %>

<br />

<h3>Alle Ingeschreven Deelnemers:</h3>

<% @toernooi.deelnemers.each do |deelnemer| %>
  <%= render partial: "/deelnemer", object: deelnemer %>
  <br />
  <%= link_to "Schrijf deze deelnemer uit", action:"destroy", controller:"inschrijven", toernooi_id: @toernooi.id,deelnemer_id: deelnemer.id %>
  <hr />
<% end %>

<br /><br /><br />


<br /><br /><br />

<%= link_to "Verwijder dit toernooi", @toernooi, method: :delete, data: {confirm: "Weet je het zeker? Alle gegevens zijn weg, en iedereen zal zich opnieuw moeten inschrijven."} %>